<nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
  <a routerLink="/" class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#navbar-content"
    aria-controls="navbar-content" aria-expanded="false"
    aria-label="Toggle Navigation">
    <i class="zmdi zmdi-menu"></i>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link">Trang chủ</a>
      </li>
      <li class="nav-item dropdown" appDropdown>
        <a routerLink="/entry-test" class="nav-link dropdown-toggle"
          id="entry-test" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Đăng ký học
        </a>
        <div class="dropdown-menu" aria-labelledby="entry-test">
          <a routerLink="/entry-test" class="dropdown-item">Test đầu vào</a>
          <a routerLink="/register" class="dropdown-item">Đăng ký học</a>
        </div>
      </li>
      <li class="nav-item dropdown" appDropdown>
        <a routerLink="/self-study" class="nav-link dropdown-toggle"
          id="self-study" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Tự học
        </a>
        <div class="dropdown-menu" aria-labelledby="self-study">
          <a routerLink="/self-study" class="dropdown-item">Cách học và link tải phim</a>
          <a routerLink="/movies" class="dropdown-item">Phim</a>
          <a routerLink="/stories" class="dropdown-item">Truyện</a>
          <a routerLink="/audios" class="dropdown-item">Luyện nghe</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="http://dict.tienganhthaytien.com/" class="nav-link">Dictionary</a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link">Liên hệ</a>
      </li>
    </ul>
  </div>
</nav>