<h3>Tự học</h3>
<hr/>
<h4>Phần 1: Các nguyên tắc bắt buộc phải biết để học tiếng Anh hiệu quả, các bạn click vào nguyên tắc muốn xem để đọc thêm nhé:</h4>
<p><a routerLink="/self-study/rule-1">Nguyên tắc 1: “Hãy cố gắng truyền đạt ý của bạn, đừng cố truyền đạt những từ xuất hiện trong đầu bạn khi bạn có ý nào đó“.</a></p>
<p><a routerLink="/self-study/rule-2">Nguyên tắc 2: “Ngữ pháp không phải là con đường dẫn đến thành Rome”.</a></p>
<p><a routerLink="/self-study/rule-3">Nguyên tắc số 3: “Luyện tập phản xạ mới là cái giúp cho bạn giao tiếp được”.</a></p>
<p><a routerLink="/self-study/rule-4">Nguyên tắc số 4: “Phát âm cho chuẩn, nếu không thì KHÓ lắm”.</a></p>
<p><a routerLink="/self-study/rule-5">Nguyên tắc số 5: Từ vựng, từ vựng, từ vựng.</a></p>
<h4>Phần 2: Hướng dẫn cách học</h4>
<p><a routerLink="/self-study/pronunciation">Học phát âm.</a></p>
<p><a routerLink="/self-study/reflex">Luyện tập phản xạ.</a></p>
<p><a routerLink="/self-study/vocabulary">Học từ vựng.</a></p>
<h4>Phần 3: Link tải Season 1-2 của các Series phim nổi tiếng</h4>
<p><a href="https://drive.google.com/open?id=0BxleRTSUV-d4MWNtZmJBQkdBTHM">How I met your mother</a></p>
<p><a href="https://drive.google.com/open?id=0B5Y4fiMBOwmtVGw4Um1oejZ2N28">Friends</a></p>
<p><a href="https://drive.google.com/drive/folders/0B2haRrTFcH2WSWNwS3hqam1FQTQ?usp=sharing">Two and a half men</a></p>
<p><a href="https://drive.google.com/open?id=0B-gghyGM9L_wNWZHdTZDVTlZaE0">The Big Bang Theory</a></p>
<p><a href="https://drive.google.com/open?id=0B5Y4fiMBOwmtaWIzb0xscXdubVk">Mind your language</a></p>