<h3>Test đầu vào</h3>
<hr/>
<div>Lưu ý:</div>
<p>
  1. Các bạn tải bài test đầu vào <a href="https://drive.google.com/file/d/0B-0KwEEXjKuKVFBiNGsyUmRJckk/view?usp=sharing">ở đây</a>, sau đó dịch và tự chấm theo yêu cầu và hướng dẫn chấm như dưới.<br/>
  2. Bài kiểm tra trên để kiểm tra khả năng từ vựng của các bạn, các bạn sẽ phải dịch một bài essay từ tiếng Anh sang tiếng Việt.<br/>
  3. Lý do cần phải kiểm tra khả năng từ vựng của các bạn, vì trong giao tiếp điều tối quan trọng là tốc độ nghe và trả lời, để 
  có được điều này không chỉ cần một lượng từ vựng tương đối tốt 
  mà người dùng còn cần phải thành thạo những từ ấy, có như vậy thì khi giao tiếp mới có thể có phản xạ đủ nhanh được.
  Nếu người đối diện cứ phải chờ bạn 1-2 phút mỗi khi bạn trả lời hoặc nói một câu tiếng Anh, thì sẽ không có ai muốn 
  nói chuyện tiếng Anh với bạn cả.<br/>
  4. Từ vựng là cái mà bạn phải tự học, không ai học hộ bạn được.
  Nếu bạn không thể khép mình vào kỷ luật để học được lượng từ vựng tối thiểu (từ 1500-2000 từ), thì việc bạn đầu tư thời
  gian và tiền bạc để đi học tiếng Anh ở trung tâm sẽ không mang lại cho bạn kết quả được bao nhiêu.
</p>
<div>Yêu cầu khi làm bài dịch:</div>
<p>
  1. Không dùng từ điển.<br/>
  2. Thời gian làm bài là 15 phút, các bạn bấm giờ, sau 15' làm được bao nhiêu cũng dừng lại.
</p>
<div>Hướng dẫn chấm bài sau khi làm xong:</div>
<p>
  1. Với những bạn dịch được đúng từ 70% trở lên: Bạn đủ điều kiện tham gia học, đăng ký <a routerLink="/register">tại đây</a><br/>
  2. Với những bạn dịch được dưới 70%: Các bạn vui lòng xem hướng dẫn cải thiện từ vựng <a routerLink="/self-study/vocabulary/">ở đây</a>
    sau đó dành thời gian để tự cải thiện từ vựng của mình, sau khoảng 2-3 tháng thì làm lại bài test, 
  tự chấm và đánh giá kết quả từ vựng của mình như trên.
</p>