<div class="jumbotron">
  <h1 class="d-none d-md-block">Welcome to tienganhthaytien.com</h1>
  <h3 class="d-md-none">Welcome to tienganhthaytien.com</h3>
  <hr class="my-4">
  <p>Where you can practice English speaking more than anywhere else in the world</p>
  <p class="lead">
    <a href="#more-info" class="btn btn-primary btn-lg" id="more-info">Learn more</a>
  </p>
</div>
<div class="row my-3 py-3 card-deck">
    <div class="card text-center col-xs-12 col-md-4">
      <div class="card-img-top"><i class="zmdi zmdi-accounts zmdi-hc-5x"></i></div>
      <div class="card-body">
        <div class="card-text">
            Class with only 4 students.
        </div>
      </div>
    </div>
      <div class="card text-center col-xs-12 col-md-4">
          <div class="card-img-top"><i class="zmdi zmdi-graduation-cap zmdi-hc-5x"></i></div>
          <div class="card-body">
            <div class="card-text">
                Teacher with more than 5 years of experience.
            </div>
          </div>
      </div>
    <div class="card text-center col-xs-12 col-md-4">
        <div class="card-img-top"><i class="zmdi zmdi-wrench zmdi-hc-5x"></i></div>
        <div class="card-body">
          <div class="card-text">
              Hands-on experience to improve background knowledge.
          </div>
        </div>
    </div>
</div>
<div class="row my-3 py-3">
  <div class="col-12">
    <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">Class opening</h4>
          <div class="card-text">
            <button class="btn btn-success btn-lg" routerLink="/entry-test" appButtonText>20/08</button>
            <button class="btn btn-success btn-lg" routerLink="/entry-test" appButtonText>20/02</button>
          </div>
        </div>
        <img class="card-img-top" src="/assets/travel.jpg" />
    </div>
  </div>
</div>
<div class="row my-3 py-3">
  <div class="col-md-12">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">Contact</h4>
        <div class="card-text">
          <p>Email: Tiendo1011@gmail.com</p>
          <p>Add: No. 2324, VP6 Building, Linh Dam, Hoang Mai, Hanoi</p>
        </div>
      </div>
    </div>
  </div>
</div>