<h3>Đăng ký học</h3>
<hr/>
<div>Lưu ý:</div>
<p>
  1. Bạn được phép học thử một buổi, bạn nên tham gia học thử vì sẽ được mình giới thiệu trực quan hơn về phương pháp, hơn nữa là buổi đó sẽ miễn phí nếu bạn không quyết định học sau buổi đó, còn nếu bạn quyết định học thì buổi đó tính là buổi một.<br/>
  2. Bạn phải làm bài test đầu vào trước, nếu đủ điều kiện thì mới được tham gia khóa học.<br/>Hướng dẫn cách làm bài test đầu vào <a routerLink="/entry-test">ở đây.</a>
</p>
<div>Đăng ký học:</div>
<p>
  Bạn nào muốn học có thể nhắn tin đến số 0988 928 863 với nội dung:<br/>
  Họ và tên:<br/>
  Đăng ký học giao tiếp tiếng Anh lớp X (Với x là thời gian khai giảng của khóa học (20/02 or 20/08))
</p>
<div>Nội dung khóa học:</div>
<table class="table">
  <thead>
    <tr>
      <th>Level</th>
      <th width="50%">Nội dung</th>
      <th>Học phí</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. Tập trung vào việc thành thạo các âm của tiếng Anh. Hình thành phản xạ giao tiếp ban đầu.<br/>Số buổi: 16.</td>
      <td>Nếu bạn kb tiếng Anh có bao nhiêu âm, cách đọc như thế nào thì khó có thể  giao tiếp thành thạo được. Ngoài ra còn tạo phản xạ nói tiếng Anh thông qua thực hành giao tiếp.</td>
      <td>Học phí: 2.400.000 VND, tuần 2 buổi, mỗi buổi 1h30’. Học phí đóng vào đầu buổi số 2.</td>
    </tr>
    <tr>
      <td>2. Tập trung vào việc nói thành thạo cả câu, luyện nghe, nâng từ vựng qua phim và học cách đọc tài liệu chuyên ngành.<br/>Số buổi: 10.</td>
      <td>Hết Level 1 thì bạn đã rèn luyện được cho mình khả năng phát âm tương đối tốt và phản xạ giao tiếp ở mức cơ bản Ở level này, bạn sẽ được:<br/>✓ Học các quy tắc để có thể nói được cả câu.<br/>✓ Hỗ trợ học tiếng anh qua phim.<br/>✓ Học những quy tắc ngữ pháp ảnh hưởng đến việc giao tiếp.<br/>✓ Hướng dẫn và thực hành đọc tài liệu chuyên ngành.</td>
      <td>Học phí: 1.500.000 VND, tuần 2 buổi, mỗi buổi 1h30’. Học phí đóng vào đầu buổi số 1.</td>
    </tr>
  </tbody>
</table>